* {
  margin: 0;
  padding: 0;
}

.image_main {
  display: flex;
}
.image {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
