* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p", sans-serif;
  color: mediumgrey;
}

.main {
  display: flex;
}

.image {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image__top {
  width: 480px;
  height: 510px;
}

.image__lorby {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  font-size: 48px;
  margin-top: 40px;
}
.image__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 28px;
}

.form {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

FormControl {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  margin-bottom: 48px;
}

.form__text {
  font-weight: 500;
  font-size: 32px;
}

.form__input {
  background-color: rgb(249, 247, 247);
  width: 343px;
  height: 52px;
  border: none;
  border-radius: 12px;
  margin-bottom: 13px;
  text-indent: 20px;
  font-size: 15px;
  letter-spacing: 1;
}

Input {
  text-indent: 20px;
  font-size: 14px;
}

Input::placeholder {
  text-indent: 20px;

  font-family: "M PLUS 1p", sans-serif;
  color: rgb(152, 151, 151);
}

.form__input::placeholder {
  text-indent: 20px;
}

.form__button {
  margin-top: 48px;
  width: 343px;
  height: 52px;
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #292929;
}

.form__bottom_link {
  text-decoration: none;
  color: inherit;
}

.form__bottom_text {
  font-size: 15px;
  color: mediumgrey;
}

.adornment {
  width: 35px;
}
